<form class="{{cssClass}} {{actor.type}} flexcol" autocomplete="off">
  <header class="flexcol">
    <div class="flexrow">
      <div class="resource">
        <label for="actor.name" class="resource-label">__nom</label>
        <div class="resource-content flexrow flex-center flex-between">
          <input type="text" name="actor.name" id="actor.name" value="{{actor.name}}" data-dtype="String" />
        </div>
      </div>
      <div class="resource">
        <div class="resource">
          <span class="resource-label">
            <label for="system.profession">__profession</label>
            <label for="system.personality">__personnalité</label>
          </span>
          <div class="resource-content flexrow flex-center flex-between">
            <input type="text" name="system.profession" id="system.profession" value="{{system.profession}}"
                   data-dtype="String" />
            {{personality.name}}
          </div>
        </div>
      </div>
    </div>
    <div class="flexrow">
      {{> 'systems/sombre-classic/templates/actor/parts/actor-advantage-disadvantage.hbs'
          type='advantage'
          label='__avantage'
          item=advantage
      }}
      {{> 'systems/sombre-classic/templates/actor/parts/actor-advantage-disadvantage.hbs'
          type='disadvantage'
          label='__désavantage'
          item=disadvantage
      }}
    </div>
  </header>

  <section class="flexrow">
    <fieldset>
      <legend>__Esprit</legend>
      <div class="grid grid-2col">
        {{#each mind_gauge}}
          <div>
            {{this.label}}

            {{#if @first}}
              <div class="item-image">
                <a class="rollable" data-gauge-roll="mind">
                  <img src="/icons/dice/d6black.svg" title="{{item.name}}" width="24" height="24" />
                </a>
              </div>
            {{/if}}
          </div>
          <div>
            {{#if this.add_checkbox}}
              <input type="checkbox" value="{{this.value}}" class="js-gauge" data-type="mind"
                     aria-label="__Esprit {{this.value}}" title="__Esprit {{this.value}}"
                     id="mind-{{this.value}}"{{#if this.checked}} checked="checked"{{/if}} />
              <label for="mind-{{this.value}}"{{#if this.threshold}} class="threshold"{{/if}}>
                <span class="visually-hidden">__Esprit {{this.value}}</span>
              </label>
            {{/if}}
          </div>
        {{/each}}
      </div>
    </fieldset>
    <div class="grid grid-2col">
      {{#each mind_gauge}}
        <div class="grid-start-2">{{this.value}}</div>
      {{/each}}
    </div>
    <fieldset>
      <legend>__Corps</legend>
      <div class="grid grid-3col">
        {{#each body_gauge}}
          <div>
            {{#if @first}}
              <div class="item-image">
                <a class="rollable" data-gauge-roll="body">
                  <img src="/icons/dice/d6black.svg" title="{{item.name}}" width="24" height="24" />
                </a>
              </div>
            {{/if}}

            {{#if this.add_checkbox}}
              <input type="checkbox" value="{{this.value}}" class="js-gauge" data-type="body"
                     aria-label="__Corps {{this.value}}" title="__Corps {{this.value}}"
                     id="body-{{this.value}}"{{#if this.checked}} checked="checked"{{/if}} />
              <label for="body-{{this.value}}"{{#if this.threshold}} class="threshold"{{/if}}>
                <span class="visually-hidden">__Corps {{this.value}}</span>
              </label>
            {{/if}}
          </div>
          <div>{{this.label}}</div>
          <div>
            {{#if this.adrenaline}}
              <input type="checkbox" value="{{this.value}}" data-adrenaline
                     aria-label="__Utiliser son adrénaline pour le prochain jet"
                     id="adrenaline-{{this.value}}"
                {{#if (adrenaline_active this.adrenaline)}} checked="checked"{{/if}}
                {{#unless (adrenaline_available this.adrenaline)}} disabled="disabled"{{/unless}} />
              <label for="adrenaline-{{this.value}}" title="__Utiliser son adrénaline pour le prochain jet">
                <span class="visually-hidden">__Utiliser son adrénaline pour le prochain jet</span>
              </label>
            {{/if}}
          </div>
        {{/each}}
      </div>
    </fieldset>
  </section>
</form>
