<form class="{{cssClass}} {{actor.type}} flexcol" autocomplete="off">
  <header class="flexcol">
    <div class="flexrow">
      <div class="resource">
        <label for="actor.name" class="resource-label">__nom</label>
        <div class="resource-content flexrow flex-center flex-between">
          <input type="text" name="actor.name" id="actor.name" value="{{actor.name}}" data-dtype="String" />
        </div>
      </div>
      <div class="resource">
        <div class="resource">
          <span class="resource-label">
            <label for="system.profession">__profession</label>
            <label for="system.personality">__personnalité</label>
          </span>
          <div class="resource-content flexrow flex-center flex-between">
            <input type="text" name="system.profession" id="system.profession" value="{{system.profession}}"
                   data-dtype="String" />
            <input type="text" name="system.personality" id="system.personality" value="{{system.personality}}"
                   data-dtype="String" />
          </div>
        </div>
      </div>
    </div>
    <div class="flexrow">
      <div class="resource">
        <label for="system.advantage" class="resource-label">__avantage</label>
        <div class="resource-content">
          {{log system.advantage}}
        </div>
      </div>
      <div class="resource">
        <label for="system.disadvantage" class="resource-label">__désavantage</label>
        <div class="resource-content">
          {{log system.disadvantage}}
        </div>
      </div>
    </div>
  </header>

  <section class="flexrow">
    <fieldset>
      <legend>__Esprit</legend>
      <div class="grid grid-2col">
        {{#each mind_gauge}}
          <div>{{this.label}}</div>
          <div>
            {{#if this.add_checkbox}}
              <input type="checkbox" value="{{this.value}}" class="js-gauge" data-type="mind"
                     aria-label="__Esprit {{this.value}}" title="__Esprit {{this.value}}"
                     id="mind-{{this.value}}"{{#if this.checked}} checked="checked"{{/if}} />
              <label for="mind-{{this.value}}"{{#if this.threshold}} class="threshold"{{/if}}>
                <span class="visually-hidden">__Esprit {{this.value}}</span>
              </label>
            {{/if}}
          </div>
        {{/each}}
      </div>
    </fieldset>
    <div class="grid grid-2col">
      {{#each mind_gauge}}
        <div class="grid-start-2">{{this.value}}</div>
      {{/each}}
    </div>
    <fieldset>
      <legend>__Corps</legend>
      <div class="grid">
        {{#each body_gauge}}
          <div>
            {{#if this.add_checkbox}}
              <input type="checkbox" value="{{this.value}}" class="js-gauge" data-type="body"
                     aria-label="__Corps {{this.value}}" title="__Corps {{this.value}}"
                     id="body-{{this.value}}"{{#if this.checked}} checked="checked"{{/if}} />
              <label for="body-{{this.value}}"{{#if this.threshold}} class="threshold"{{/if}}>
                <span class="visually-hidden">__Corps {{this.value}}</span>
              </label>
            {{/if}}
          </div>
          <div>{{this.label}}</div>
        {{/each}}
      </div>
    </fieldset>
  </section>
</form>
