<form class="{{cssClass}}" autocomplete="off">
  <header class="sheet-header">
    <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}" />
    <div class="header-fields">
      <h1 class="charname"><input name="name" type="text" value="{{item.name}}" placeholder="__Nom" /></h1>
    </div>
  </header>

  <section class="sheet-body">
    <div class="tab">
      <p>__Description</p>
      {{editor enrichedDescription target="system.description" button=true editable=editable}}
    </div>

    <p>
      <input type="number" value="{{item.system.munitions}}" name="system.munitions" id="system.munitions" />
      <label for="system.munition">__Munitions</label>
    </p>
    <p>
      <input type="number" value="{{item.system.reserve}}" name="system.reserve" id="system.reserve" />
      <label for="system.munition">__Réserve</label>
    </p>
  </section>
</form>
